

.modal-content {

    border-radius: 12px;
  
    border: 2px solid #1919ff;
  
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  
  }
  
  
  .modal-header {
  
    background-color: #adb4c0;
  
    color: white;
  
    border-bottom: none;
  
  }
  
  
  .btn-close {
  
    filter: invert(1);
  
  }
  
  
  .modal-body {
  
    background-color: #f9f9f9;
  
  }
  
  
  .modal-footer .btn-secondary {
  
    background-color: #cc0000;
  
    border: none;
  
  }
  
  .modal-footer .btn-success {
  
    background-color: #198754;
  
    border: none;
  
  }
  
  .modal-footer .btn-success:hover {
  
    background-color: #157347;
  
  }
   